######################
# Project Specific
######################
/target/classes/static/**
/src/test/javascript/coverage/

######################
# Directories
######################
/bin/
/doc/
/obj/