######################
# Project Specific
######################
/target/classes/static/**
/src/test/javascript/coverage/

######################
# Directories
######################
serveur/bin/*
serveur/doc/*
serveur/obj/*

client/bin/*
client/doc/*
client/obj/*
