######################
# Project Specific
######################
/target/classes/static/**
/src/test/javascript/coverage/

######################
# Directories
######################
serveur/bin/
serveur/doc/
serveur/obj/
serveur/obj/src/

client/bin/
client/doc/
client/obj/
client/obj/src/
